/IncluKiosk-venv/
/IncluKiosk_venv/
/hc_venv/
yolov8n.pt
screen_position.txt
backup_Webcam3D_MonitorTracking.py
face-detector-quantized_edgetpu.tflite
gcp-tts-key.json
coco_labels.txt
ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite
/linear_actuator/current_height.txt
/__pycache__
/linear_actuator/__pycache__
/tts_stt/__pycache__
/models/
